source/uspp/schema.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by xdowns.com (xdowns.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../../types.xsd"/>
	<xs:element name="add_sup_sr_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sr_id" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ass_oc_at_name_input">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string20">
					<xs:attribute name="type" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ass_oc_atname_output">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string20">
					<xs:attribute name="type" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ass_oc_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute name="type" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ref_tableid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute name="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_hide">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_tag"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_wordGreater0">
					<xs:attribute name="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_may">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string30">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_num">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte8">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_loc">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="is_ref_at">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_ref_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_tag">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byteGreater0">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ref_domid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="slice_domid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_tag_list">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cp_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ctrl_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte64">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ctrl_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string20">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ref_domtype">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string20">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="data_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_datatype">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="def_val">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:bcd"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="dsa_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_dsatype">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="dynamic_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="hashModulus">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_integer">
					<xs:attribute name="type" use="required" fixed="uds:dword"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="indx_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte8">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="indx_mergeid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte8">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="indx_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_indexType">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lock_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="is_ref_table">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="max_len">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute name="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="min_len">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute name="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nssr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nssr_funcaddr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:ptr"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nssr_funcname">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_nssrfuncname">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="oc_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute name="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="kind">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_ockind">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="oid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="equality">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ordering">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="substr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="syntax">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="usage">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_ocusage">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="desc">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="version_info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="version" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="version">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="name" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="common"/>
								<xs:enumeration value="spr"/>
								<xs:enumeration value="uspp"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="common"/>
								<xs:enumeration value="special"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="md5" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="oc_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string20">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
				<!-- 从12个字节升级到20个字节，20160511 -->
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="oc_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_octype">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="parse_mode">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pk_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ptr_at">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:ptr"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ref_table_list">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ref_handle_list">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rdn">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string20">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rdn_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string20">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rdn_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="readonly_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="related_rdn_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string20">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rollback_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="schema_body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="common" minOccurs="0"/>
				<xs:element ref="wcdma" minOccurs="0"/>
				<xs:element ref="cdma" minOccurs="0"/>
				<xs:element ref="pcs" minOccurs="0"/>
				<xs:element ref="shlr" minOccurs="0"/>
				<xs:element ref="eir" minOccurs="0"/>
				<xs:element ref="mnp" minOccurs="0"/>
				<xs:element ref="hss" minOccurs="0"/>
				<xs:element ref="aaa" minOccurs="0"/>
				<xs:element ref="sd" minOccurs="0"/>
				<xs:element ref="standard" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="schema_head">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="schema_version"/>
				<xs:element ref="version_info" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="schema_version">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="single_val">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte128">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sp_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte128">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sp_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sp_funcaddr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute name="type" use="required" fixed="uds:ptr"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sr_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_wordGreater0">
					<xs:attribute name="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup_at_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_id" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup_sr_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute name="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="table_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_wordGreater0">
					<xs:attribute name="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="table_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="virtual_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute name="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="wildcard_tableid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute name="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_atinfo_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_atinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_id"/>
				<xs:element ref="at_name"/>
				<xs:element ref="data_type"/>
				<xs:element ref="min_len"/>
				<xs:element ref="max_len"/>
				<xs:element ref="single_val"/>
				<xs:element ref="def_val"/>
			</xs:sequence>
			<xs:attribute name="apptype" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_ocinfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_ocinfo_comm"/>
				<xs:element ref="usch_ocinfo_at_list"/>
				<xs:element ref="usch_ocinfo_indx_list"/>
			</xs:sequence>
			<xs:attribute name="apptype" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_at_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_ocinfo_at" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_at">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_tag"/>
				<xs:element ref="at_may"/>
				<xs:element ref="at_id"/>
				<xs:element ref="at_loc"/>
				<xs:element ref="ptr_at"/>
				<xs:element ref="is_ref_at"/>
				<xs:element ref="ref_tableid"/>
				<xs:element ref="ref_domid"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_comm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oc_id"/>
				<xs:element ref="oc_name"/>
				<xs:element ref="oc_type"/>
				<xs:element ref="virtual_fg"/>
				<xs:element ref="dynamic_fg"/>
				<xs:element ref="rollback_fg"/>
				<xs:element ref="alias_pfx"/>
				<xs:element ref="parse_mode"/>
				<xs:element ref="ass_oc_at_name_input"/>
				<xs:element ref="ass_oc_id"/>
				<xs:element ref="ass_oc_atname_output"/>
				<xs:element ref="dsa_type"/>
				<xs:element ref="at_ref_fg"/>
				<xs:element ref="lock_fg"/>
				<!-- 本对象类是否是『引用字段表』 -->
				<xs:element ref="is_ref_table"/>
				<!-- 存储在IDSA上的表需要定义其分片字段 -->
				<xs:element ref="slice_domid"/>
				<!-- 指示引用表的引用字段类型 -->
				<xs:element ref="ref_domtype"/>
				<xs:element ref="ref_table_list"/>
				<xs:element ref="ref_handle_list"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_indx_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_ocinfo_indx" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_indx">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="indx_id"/>
				<xs:element ref="indx_type"/>
				<xs:element ref="pk_fg"/>
				<xs:element ref="indx_mergeid"/>
				<xs:element ref="hashModulus"/>
				<xs:element ref="at_num"/>
				<xs:element ref="at_tag_list"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_spinfo_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_spinfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_spinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sp_id"/>
				<xs:element ref="sp_name"/>
				<xs:element ref="readonly_fg"/>
				<xs:element ref="sp_funcaddr"/>
			</xs:sequence>
			<xs:attribute name="apptype" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_srinfo_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_srinfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObjectClasses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oc" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttributeTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MatchingRules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mr" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LDAPSyntaxes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ls" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DITStructureRules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsr" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NameForms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nf" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_srinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sr_id"/>
				<xs:element ref="sup_sr_id"/>
				<xs:element ref="rdn_type"/>
				<xs:element ref="nssr"/>
				<xs:element ref="rdn_name"/>
				<xs:element ref="related_rdn_name"/>
				<xs:element ref="table_type"/>
				<xs:element ref="table_id"/>
				<xs:element ref="nssr_funcname"/>
				<xs:element ref="nssr_funcaddr"/>
				<xs:element ref="wildcard_tableid"/>
				<xs:element ref="cp_fg"/>
			</xs:sequence>
			<xs:attribute name="apptype" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formid"/>
				<xs:element ref="aliasname" minOccurs="0"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:element ref="oc_id"/>
				<xs:element ref="must"/>
				<xs:element ref="may" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dsr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sr_id"/>
				<xs:element ref="aliasname"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:element ref="rdn"/>
				<xs:element ref="formid" minOccurs="0"/>
				<xs:element ref="add_sup_sr_id" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oid"/>
				<xs:element ref="aliasname"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:element ref="syntax"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="at">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_id"/>
				<xs:element ref="oid"/>
				<xs:element ref="aliasname" minOccurs="0"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:element ref="sup_at_id" minOccurs="0"/>
				<xs:element ref="equality" minOccurs="0"/>
				<xs:element ref="ordering" minOccurs="0"/>
				<xs:element ref="substr" minOccurs="0"/>
				<xs:element ref="syntax" minOccurs="0"/>
				<xs:element ref="usage" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="oc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oc_id"/>
				<xs:element ref="oid"/>
				<xs:element ref="aliasname" minOccurs="0"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:element ref="sup_oc_id" minOccurs="0"/>
				<xs:element ref="kind"/>
				<xs:element ref="at_hide" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oid" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup_oc_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oc_id" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="must">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_id" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="may">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_id" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aliasname">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ls">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oid"/>
				<xs:element ref="desc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="common">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list"/>
				<xs:element ref="ObjectClasses"/>
				<xs:element ref="AttributeTypes"/>
				<xs:element ref="MatchingRules"/>
				<xs:element ref="LDAPSyntaxes"/>
				<xs:element ref="DITStructureRules"/>
				<xs:element ref="NameForms"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="wcdma">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list" minOccurs="0"/>
				<xs:element ref="ObjectClasses" minOccurs="0"/>
				<xs:element ref="AttributeTypes" minOccurs="0"/>
				<xs:element ref="DITStructureRules" minOccurs="0"/>
				<xs:element ref="NameForms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cdma">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list" minOccurs="0"/>
				<xs:element ref="ObjectClasses" minOccurs="0"/>
				<xs:element ref="AttributeTypes" minOccurs="0"/>
				<xs:element ref="DITStructureRules" minOccurs="0"/>
				<xs:element ref="NameForms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pcs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list" minOccurs="0"/>
				<xs:element ref="ObjectClasses" minOccurs="0"/>
				<xs:element ref="AttributeTypes" minOccurs="0"/>
				<xs:element ref="DITStructureRules" minOccurs="0"/>
				<xs:element ref="NameForms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="shlr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list" minOccurs="0"/>
				<xs:element ref="ObjectClasses" minOccurs="0"/>
				<xs:element ref="AttributeTypes" minOccurs="0"/>
				<xs:element ref="DITStructureRules" minOccurs="0"/>
				<xs:element ref="NameForms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eir">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list" minOccurs="0"/>
				<xs:element ref="ObjectClasses" minOccurs="0"/>
				<xs:element ref="AttributeTypes" minOccurs="0"/>
				<xs:element ref="DITStructureRules" minOccurs="0"/>
				<xs:element ref="NameForms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mnp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list" minOccurs="0"/>
				<xs:element ref="ObjectClasses" minOccurs="0"/>
				<xs:element ref="AttributeTypes" minOccurs="0"/>
				<xs:element ref="DITStructureRules" minOccurs="0"/>
				<xs:element ref="NameForms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hss">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list" minOccurs="0"/>
				<xs:element ref="ObjectClasses" minOccurs="0"/>
				<xs:element ref="AttributeTypes" minOccurs="0"/>
				<xs:element ref="DITStructureRules" minOccurs="0"/>
				<xs:element ref="NameForms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aaa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list" minOccurs="0"/>
				<xs:element ref="ObjectClasses" minOccurs="0"/>
				<xs:element ref="AttributeTypes" minOccurs="0"/>
				<xs:element ref="DITStructureRules" minOccurs="0"/>
				<xs:element ref="NameForms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list" minOccurs="0"/>
				<xs:element ref="ObjectClasses" minOccurs="0"/>
				<xs:element ref="AttributeTypes" minOccurs="0"/>
				<xs:element ref="DITStructureRules" minOccurs="0"/>
				<xs:element ref="NameForms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="standard">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list" minOccurs="0"/>
				<xs:element ref="ObjectClasses" minOccurs="0"/>
				<xs:element ref="AttributeTypes" minOccurs="0"/>
				<xs:element ref="DITStructureRules" minOccurs="0"/>
				<xs:element ref="NameForms" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="uds_schema">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="schema_head"/>
				<xs:element ref="schema_body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
