view/simple_view.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by xdowns.com (xdowns.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../types.xsd"/>
	<xs:simpleType name="ST_voptype">
		<xs:restriction base="xs:byte"/>
	</xs:simpleType>
	<xs:simpleType name="ST_vdn">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_vscope">
		<xs:restriction base="xs:byte"/>
	</xs:simpleType>
	<xs:simpleType name="ST_sdn">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_soptype">
		<xs:restriction base="xs:byte"/>
	</xs:simpleType>
	<xs:simpleType name="ST_sscope">
		<xs:restriction base="xs:byte"/>
	</xs:simpleType>
	<xs:element name="simple_view">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="schema_head"/>
				<xs:element ref="schema_body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="add_sup_sr_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sr_id" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ass_oc_at_name_input">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ass_oc_atname_output">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ass_oc_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_hide">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_tag"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_wordGreater0">
					<xs:attribute ref="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_may">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="src_at_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="src2view">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="view2src">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_num">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte8">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_loc">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_ref_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_tag">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byteGreater0">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_tag_list">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cp_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="data_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_datatype">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="def_val">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:bcd"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="dsa_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_dsatype">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="dynamic_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="hashModulus">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_integer">
					<xs:attribute ref="type" use="required" fixed="uds:dword"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="indx_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte8">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="indx_mergeid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte8">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="indx_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_indexType">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lock_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="max_len">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute ref="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="min_len">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute ref="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nssr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nssr_funcaddr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:ptr"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nssr_funcname">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="oc_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute ref="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="kind">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_ockind">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="oid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="equality">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ordering">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="substr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="syntax">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="usage">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_ocusage">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="desc">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="oc_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="src_oc_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="src_datasource">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="oc_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_octype">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="parse_mode">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pk_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ptr_at">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:ptr"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rdn">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rdn_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rdn_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="readonly_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="related_rdn_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rollback_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="schema_body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo_list"/>
				<xs:element ref="usch_ocinfo_list"/>
				<xs:element ref="usch_srinfo_list"/>
				<xs:element ref="usch_spinfo_list"/>
				<xs:element ref="transform"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="schema_head">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="schema_name"/>
				<xs:element ref="schema_version"/>
				<xs:element ref="apptype"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="schema_name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="schema_version">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="apptype">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="single_val">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte128">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sp_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte128">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sp_name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sp_funcaddr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_string">
					<xs:attribute ref="type" use="required" fixed="uds:ptr"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sr_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_wordGreater0">
					<xs:attribute ref="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="src_sr_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_wordGreater0">
					<xs:attribute ref="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup_at_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_id" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup_sr_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute ref="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="table_id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_wordGreater0">
					<xs:attribute ref="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="table_type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_byte">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="virtual_fg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_bool">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="wildcard_tableid">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_word">
					<xs:attribute ref="type" use="required" fixed="uds:word"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_atinfo_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_atinfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_atinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_id"/>
				<xs:element ref="at_name"/>
				<xs:element ref="data_type"/>
				<xs:element ref="min_len"/>
				<xs:element ref="max_len"/>
				<xs:element ref="single_val"/>
				<xs:element ref="def_val" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_ocinfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_ocinfo_comm"/>
				<xs:element ref="usch_ocinfo_at_list"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_at_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_ocinfo_at" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_at">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_tag"/>
				<xs:element ref="at_may"/>
				<xs:element ref="at_id"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_comm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oc_id"/>
				<xs:element ref="oc_name"/>
				<xs:element ref="oc_type"/>
				<xs:element ref="virtual_fg"/>
				<xs:element ref="dynamic_fg"/>
				<xs:element ref="alias_pfx"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_indx_list">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_ocinfo_indx">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_spinfo_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_spinfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transform">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rule" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sr_id"/>
				<xs:element ref="map_mode"/>
				<xs:choice>
					<xs:element ref="complex_map" minOccurs="0"/>
					<xs:element ref="simple_map" minOccurs="0"/>
					<xs:element ref="transparent_map" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transparent_map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="src_datasource"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="oc_map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oc_name"/>
				<xs:element ref="src_oc" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="simple_map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_map_rules" minOccurs="0"/>
				<xs:element ref="oc_map"/>
				<xs:element ref="msg_map" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="complex_map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="src2view"/>
				<xs:element ref="view2src"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="map_mode">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="uds_map_mode">
					<xs:attribute ref="type" use="required" fixed="uds:byte"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_map_rules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_map" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="src_oc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="src_datasource"/>
				<xs:element ref="src_oc_name"/>
				<xs:element ref="src_sr_id" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="atinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_name"/>
				<xs:element ref="src_at" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="src_at">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="src_datasource" maxOccurs="unbounded"/>
				<xs:element ref="src_oc_name" minOccurs="0"/>
				<xs:element ref="src_at_name" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="at_map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_name"/>
				<xs:element ref="src_at" maxOccurs="unbounded"/>
				<xs:element ref="src2view" minOccurs="0"/>
				<xs:element ref="view2src" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_spinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sp_id"/>
				<xs:element ref="sp_name"/>
				<xs:element ref="readonly_fg"/>
				<xs:element ref="sp_funcaddr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_srinfo_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usch_srinfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="usch_srinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sr_id"/>
				<xs:element ref="sup_sr_id"/>
				<xs:element ref="rdn_type"/>
				<xs:element ref="rdn_name"/>
				<xs:element ref="related_rdn_name"/>
				<xs:element ref="table_id"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formid"/>
				<xs:element ref="aliasname" minOccurs="0"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:element ref="oc_id"/>
				<xs:element ref="must"/>
				<xs:element ref="may" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dsr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sr_id"/>
				<xs:element ref="aliasname"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:element ref="rdn"/>
				<xs:element ref="formid" minOccurs="0"/>
				<xs:element ref="add_sup_sr_id" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oid"/>
				<xs:element ref="aliasname"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:element ref="syntax"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="oc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oc_id"/>
				<xs:element ref="oid"/>
				<xs:element ref="aliasname" minOccurs="0"/>
				<xs:element ref="desc" minOccurs="0"/>
				<xs:element ref="sup_oc_id" minOccurs="0"/>
				<xs:element ref="kind"/>
				<xs:element ref="at_hide" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oid" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup_oc_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oc_id" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="must">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_id" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="may">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="at_id" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aliasname">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ls">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oid"/>
				<xs:element ref="desc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="msg_map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="req_map"/>
				<xs:element ref="rsp_map" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="req_map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vsimplereq"/>
				<xs:element ref="sstandardreq"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vsimplereq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="voptype"/>
				<xs:element ref="vdn"/>
				<xs:element ref="vscope"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sstandardreq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="soptype"/>
				<xs:element ref="sdn"/>
				<xs:element ref="sscope"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="voptype">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_voptype">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="uds:byte"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="vdn">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_vdn">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="uds:string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="vscope">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_vscope">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="uds:byte"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rsp_map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sstandardrsp"/>
				<xs:element ref="vsimplersp"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sstandardrsp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sdn"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vsimplersp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vdn"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sdn">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_sdn">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="uds:string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="soptype">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_soptype">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="uds:byte"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sscope">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_sscope">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="uds:byte"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
